/* Header container */
.header-header {
    background-color: #f2f2f2;
    padding: 0px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  /* Logo */
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    padding-left: 10px;
  }
  
  /* Navigation */
  .header-nav ul {
    list-style: none;
    display: flex;
  }
  
  .header-nav li {
    margin-right: 30px;
  }
  
  .header-nav a {
    text-decoration: none;
    color: #333;
  }
  
  .header-nav a:hover {
    color: #666;
  }
  